#parent {
    border: 2px solid red;
    width: 90vw;
    height: 300px;    
}

.child {
    border: 2px solid blue;
    height: 40px;
    width: 40px;
}

#parent {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-evenly;
}